@use './../../../assets/css/variables' as *

$line-pos-left: -1.6rem 

  
.experience-container
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  column-gap: 10rem
  padding-top: 8rem

  @media (max-width: $media-2xl)
    row-gap: 9rem


  @media (max-width: $media-lg)
    flex-direction: column-reverse
    row-gap: 6.4rem
    padding-top: 0rem
    margin-top: -2rem


.experience-container .banner-img
  width: 100%
  overflow: hidden
  top: 15%
  transform: translateY(25%)
  position: sticky

  @media (max-width: $media-lg)
    position: relative
    display: flex
    justify-content: center


.experience-container .banner-img img
  width: 68%

  @media (max-width: $media-2xl)
    width: 80%


.exp-content-container
  width: 100%
  display: flex
  flex-direction: column
  gap: 3.2rem

  @media (max-width: $media-lg)
    gap: 2.6rem


.exp-content-container .timeline-container
  width: 100%
  height: 100%
  

.timeline-container .card-container
  display: flex
  flex-direction: column
  gap: 2.4rem
  // @link-timeline
  padding-left: 8rem

  @media (max-width: $media-lg)
    padding-left: 5.8rem


.card-item-group
  height: 100%
  display: flex
  flex-direction: row
  background: $bg-secondary
  padding: 1.2rem 1.4rem
  border-radius: 0.6rem

  @media (max-width: $media-lg)
    padding: 0.9rem 1rem


.timeline-container .card-item
  position: relative
  width: 100%


.timeline-container .more-detail
  cursor: pointer
  margin-right: -0.9rem
  padding-left: 0.5rem
  border-left: 2px solid #FFFFFF20
  display: flex
  align-items: center
  font-size: 0.8rem
  transition: all 0.2s ease-in-out
  margin-left: 0.28rem

  &:hover
    color: $color-secondary
    transform: scale(1.06) translateX(0.1rem)

  @media (max-width: $media-2xl)
    margin-left: 0.2rem

  @media (max-width: $media-lg)
    margin-left: 0.1rem
    padding-left: 0.4rem
    margin-right: -0.6rem


.timeline-container .card-item .title
  letter-spacing: 0.06rem
  font-size: 1.1rem

  @media (max-width: $media-2xl)
    font-size: 0.96rem
    
  @media (max-width: $media-lg)
    letter-spacing: 0.02rem


.timeline-container .card-item .sub-title
  margin-top: 0.1rem
  letter-spacing: 0.04rem
  font-size: 0.9rem
  color: $color-primary-drop
  
  @media (max-width: $media-2xl)
    font-size: 0.8rem

  @media (max-width: $media-lg)
    letter-spacing: 0.02rem
    

.timeline-container .card-item .description
  letter-spacing: .02rem
  margin-top: 0.8rem
  font-size: 0.9rem
  color: $color-primary-drop

  @media (max-width: $media-2xl)
    letter-spacing: 0.02rem
    font-size: 0.8rem
  
  @media (max-width: $media-lg)
    font-size: 0.76rem


.timeline-container .container-card-item
  position: relative


.timeline-item
  position: absolute
  top: 0
  left: -6.2rem
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  text-align: right


.timeline-item.one-range
  justify-content: center


.timeline-item .date
  font-size: 0.8rem


.timeline-item .helper-text
  color: $color-primary-drop
  font-size: 0.7rem


.timeline-item .helper-text.rotate
  transform: rotate(-90deg) translateY(160%)
  text-align: center
  

.container-card-item .line
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: $line-pos-left
  width: 0.1rem
  height: 86%
  background: $color-primary
  z-index: 1


.container-card-item .line::after
  // border with circle
  content: ''
  position: absolute
  top: -3%
  left: 50%
  transform: translate(-50%, -50%)
  width: 8px
  height: 8px
  border-radius: 50%
  border: 0.1rem solid $color-primary
  z-index: 1
  
.container-card-item .line::before
  // border with circle
  content: ''
  position: absolute
  top: 103%
  left: 50%
  transform: translate(-50%, -50%)
  width: 8px
  height: 8px
  border-radius: 50%
  border: 0.1rem solid $color-primary
  z-index: 1


.space-line
  left: $line-pos-left
  position: absolute
  bottom: -2.2rem
  width: 0.1rem
  height: 2.4rem
  z-index: 1
  background-image: linear-gradient(to bottom, #FFFFFF40 50%, transparent 50%)
  background-size: 100% 0.64rem
  background-repeat: repeat-y
  background-position: center
