@use './../../../assets/css/variables.sass' as *

.card-project-container
  position: relative
  cursor: pointer
  box-shadow: $base-shadow

  &:hover
    .overlay
      opacity: 1

    .card-project-img
      transform: scale(1.04)

    .card-project-content
      top: 8rem

    .card-project-content .title
      padding: 0.28rem 0.5rem
  


  @media (max-width: $media-2xl)
    &:hover
      .card-project-content
        top: 5rem


  
.card-project-container .position-wrapper
  position: relative
  top: 0
  left: 0
  width: 100%
  height: 16rem
  border-radius: 0.6rem
  overflow: hidden

  @media (max-width: $media-2xl)
    height: 13.3rem


.card-project-img 
  transition: all 0.2s ease-in-out
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1


.card-project-img img
  object-fit: cover


.overlay
  transition: all 0.2s ease-in-out
  opacity: 0
  background: #00000080
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2


.card-project-content
  overflow-y: auto
  transition: all 0.2s ease-in-out
  background: #00000090
  position: absolute
  top: 13.5rem
  left: 0
  width: 100%
  height: 100%
  z-index: 3

  @media (max-width: $media-2xl)
    top: 11.1rem


.card-project-content .title
  transition: all 0.2s ease-in-out
  width: 100%
  padding: 0.6rem 0.5rem
  background: $color-secondary
  color: black
  text-align: center
  font-weight: 500
  font-size: 0.86rem
  letter-spacing: 0.04rem

  @media (max-width: $media-2xl)
    padding: 0.5rem 0.5rem
    font-size: 0.8rem


.card-project-content .sub-title
  padding-top: 0.6rem
  width: 90%
  margin: 0 auto
  font-size: 0.9rem


.card-project-content .description
  padding-top: 0.4rem
  width: 90%
  margin: 0 auto
  font-size: 0.9rem


.view-more
  width: 100%
  cursor: pointer
  border: 2px solid #FFFFFF80
  border-radius: 0.6rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  letter-spacing: 0.06rem
  font-weight: 500
  font-size: 1.6rem
  color: #BCBCBC
  gap: 0.4rem
  transition: all 0.2s ease-in-out

  &:hover
    border: 2px solid #FFFFFF
    background: #FFFFFF10

    .label
      transform: scale(1.04)
    
    .icon
      transform: scale(1.04)

  @media (max-width: $media-md)
    font-size: 1rem
    padding: 1.4rem 0



.label
  transition: all 0.2s ease-in-out


.icon
  transition: all 0.2s ease-in-out
