@use './reset' as *
@use './variables' as *
@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Lacquer&display=swap'

body
  font-family: $font-base
  background-color: $bg-primary
  color: $color-primary

.container
  max-width: 86%
  margin: 0 auto

.color-primary-drop
  color: $color-primary-drop

.cursor-pointer
  cursor: pointer !important